body {
    background: lightgrey;
}

h2:hover {
    color: red
}

h2[class=subtitle] {
    color: blue
}

#services {
    color: grey;
}

.title {
    color: white
}

li:first-child {
    color: red
}

li:last-child {
    color: blue
}

li:nth-child(2) {
    color: gray
}

li:only-child {
    color: purple
}


/* #google-link:link {
    color: white
}

#google-link:visited {
    color: red
} */

h2 + a {
    color: blue
}

textarea ~ button {
    color: red
}

ul > li {
    color: aliceblue
}

ul li {
    color:green
}

img[src^="../img/"] {
    display: flex;
    height: 150px;
    border: 10px solid black
}

img[src*="human"] {
    display: flex;
    height: 200px;
    border: 10px solid blue
}

img:hover {
    border: 10px solid red
}