body {
    background: green;
}

h2:hover {
    color: red
}

.subtitle {
    color: blue
}

#services {
    color: grey;
}

.title {
    color: white
}

li:first-child {
    color: red
}

li:last-child {
    color: blue
}

li:nth-child(2) {
    color: gray
}

li:only-child {
    color: purple
}


/* #google-link:link {
    color: white
}

#google-link:visited {
    color: red
} */

h2 + a {
    color: blue
}

textarea ~ button {
    color: red
}

ul > li {
    color: aliceblue
}

ul li {
    color:green
}